version: '3'

services:
  orcano:
    build: .
    shm_size: 256M # need more shm for Dolphin to avoid SIGBUS
    volumes:
      - ./data:/data # TODO: Assign final directory
    ports:
      - 53273:53273
#      - 55020:55020 # for debugging
    restart: unless-stopped
#    cap_add:
#      - sys_admin # for perf